.initial-settings-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.tabs-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.result {
  margin: 0 0 0 20px;
}
.btn-add {
  margin-top: 15px;
}
