<div>
    <div class="initial-settings-container">
        <mat-form-field appearance="standard">
            <mat-label>Первоначальная сумма</mat-label>
            <input
                    matInput
                    type="text"
                    inputmode="numeric"
                    [ngModel]="initAmount"
                    (input)="inputWithValidation($event)"
            >
        </mat-form-field>
        <p class="result" >Итого: {{ result[result.length - 1]?.str }}</p>
        <p class="result" >Итого, 4% / 12: {{ result[result.length - 1]?.percent4str }}</p>
    </div>
    <hr>
    <div class="tabs-container">
        <app-form
                *ngFor=" let periodItem of periods; let ind = index"
                [period]="periodItem"
                [isNoCloseBtn]="periods.length < 2"
                [periodResult]="result[ind].str"
                (onChange)="onFormChange()"
                (onRemovePeriod)="onRemovePeriod(ind)"
        >
        </app-form>
        <button
                class="btn-add"
                mat-icon-button
                aria-label="Add btn"
                (click)="onAddNewPeriod()"
        >
            <mat-icon class="btn-add-icon">add_circle</mat-icon>
        </button>
    </div>
</div>
